﻿@model Present_Connection.Models.Kompetencija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kompetencija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imone.ImonesPavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imone.ImonesPavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KompetencijaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
