﻿@model IEnumerable<Present_Connection.Models.Kompetencija>

@{
    ViewBag.Title = "Index";
}

<h2>Kompetencijos</h2>

<p>
    @Html.ActionLink("Sukurti naują", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Įmonė", "Index", new { SortOrder = ViewBag.Imone })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </th>
        <th>Įrankiai</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imone.ImonesPavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprasymas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.KompetencijaId }) |
            @Html.ActionLink("Informacija", "Details", new { id=item.KompetencijaId }) |
            @Html.ActionLink("Ištrinti", "Delete", new { id=item.KompetencijaId })
        </td>
    </tr>
}

</table>
