﻿@model Present_Connection.Models.Imones

@{
    ViewBag.Title = "Details";
}

<h2>Info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImonesPavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImonesPavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imones_sukurimo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imones_sukurimo_data)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            <b> Darbuotojas </b>
        </th>
        <th>
            <b> Pareigos </b>
        </th>
        <th>
            <b> Kompetencija </b>
        </th>
        <th>
            <b> Registracijos data </b>
        </th>
    </tr>


    @foreach (var item in Model.Darbuotojai)
    {
        <tr>
            <td>
                @Html.ActionLink(item.VardPavard, "../Darbuotojais/Edit", new { id = item.DarbuotojaiId })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pareigos)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DarbuotojoTel)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RegistracijosData)
            </td>
        </tr>
    }
</table>


<h4>Kompetencijos</h4>

<table class="table">
    <tr>
        <th>
            <b> Pavadinimas </b>
        </th>
        <th>
            <b> Aprašymas </b>
        </th>
    </tr>


    @foreach (var item in Model.Kompetencijos)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Pavadinimas, "../Kompetencijas/Edit", new { id = item.KompetencijaId })

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Aprasymas)
            </td>

        </tr>
    }
    </table>







    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ImonesId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
