﻿@model Present_Connection.Models.Imones

@{
    ViewBag.Title = "Įmonės";
}

<h2>Įmonės</h2>

<p>
    @Html.ActionLink("Sukurti naują", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImonesPavadinimas)
        </th>
        <th>
            Darbuotojų skaičius
        </th>
        <th>
            Kompetencijų skaičius
        </th>
        <th>Įrankiai</th>
    </tr>

@foreach (var item in Model.Stats) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImonesPav)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.darbuotoju_skaicius)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kompetenciju_skaicius)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.ImonesIrSkaiciaiId }) |
            @Html.ActionLink("Informacija", "Details", new { id=item.ImonesIrSkaiciaiId }) |
            @Html.ActionLink("Ištrinti", "Delete", new { id=item.ImonesIrSkaiciaiId })
        </td>
    </tr>
}

</table>
