﻿@model Present_Connection.Models.Darbuotojai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Darbuotojai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imone.ImonesPavadinimas)
        </dt>

        <dd>
            @ViewBag.Pav
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DarbuotojoVardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DarbuotojoVardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DarbuotojoPavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DarbuotojoPavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DarbuotojoEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DarbuotojoEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DarbuotojoTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DarbuotojoTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistracijosData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistracijosData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pareigos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pareigos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DarbuotojaiId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
