﻿@model IEnumerable<Present_Connection.Models.Darbuotojai>

@{
    ViewBag.Title = "Index";
}

<h2>Darbuotojai</h2>

<p>
    @Html.ActionLink("Sukurti naują", "Create")
</p>
<table class="table">
    <tr>
        <th>
          @Html.ActionLink("Įmonė", "Index", new { SortOrder = ViewBag.Imone }) 
        </th>
        <th>
            Darbuotojas
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DarbuotojoEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DarbuotojoTel)
        </th>
        <th>
            Registracijos data
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pareigos)
        </th>
        <th>Įrankiai</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imone.ImonesPavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VardPavard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DarbuotojoEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DarbuotojoTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistracijosData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pareigos)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.DarbuotojaiId }) |
            @Html.ActionLink("Informacija", "Details", new { id=item.DarbuotojaiId }) |
            @Html.ActionLink("Ištrinti", "Delete", new { id=item.DarbuotojaiId })
        </td>
    </tr>
}

</table>
