﻿@model Present_Connection.Models.Vertinimas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vertinimas</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.kompetencija.Pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kompetencija.Pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vertinimas_pazymys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vertinimas_pazymys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukurimo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukurimo_data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VertinimasId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
