﻿@model IEnumerable<Present_Connection.Models.Vertinimas>

@{
    ViewBag.Title = "Index";
}

<h2>Vertinimai</h2>

<p>
    @Html.ActionLink("Sukurti naują", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Darbuotojas
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kompetencija.Pavadinimas)
        </th>
        <th>
           Vertinimas
        </th>
        <th>
            Sukūrimo data
        </th>
        <th>Įrankiai</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.darbuotojas.VardPavard)</td>
        <td>
            @Html.DisplayFor(modelItem => item.kompetencija.Pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vertinimas_pazymys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukurimo_data)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id=item.VertinimasId }) |
            @Html.ActionLink("Informacija", "Details", new { id=item.VertinimasId }) |
            @Html.ActionLink("Ištrinti", "Delete", new { id=item.VertinimasId })
        </td>
    </tr>
}

</table>
